openapi: 3.0.3

info:
  title: ReelPin API
  version: "2.0.0"
  description: |
    The Go-owned ReelPin contract. Every client the ReelPin team ships — the web
    product, updated Flutter releases and both native share extensions — talks to
    this surface.

    `/api/v1` belongs to the Python service and is not described here. It stays
    available for installed Flutter versions during coexistence and is retired
    separately.

    Operations that answer `503 processing_unavailable` are declared but not yet
    built on every deployment. They are in the contract from the start so a
    client can be generated once, rather than regenerated each time a capability
    lands.

servers:
  - url: https://api.reelpin.in
    description: Production
  - url: https://api-dev.reelpin.in
    description: Development

tags:
  - name: health
    description: Liveness and readiness. No authentication.
  - name: reels
    description: A user's saved reels.
  - name: processing
    description: Submitting links and following the work.
  - name: account
    description: Account-scoped reads.
  - name: sharing
    description: Native share tokens and share-text resolution.
  - name: collections
    description: Named sets of saves, shared by membership or link.
  - name: notifications
    description: Device push tokens and open receipts.

security:
  - supabaseBearer: []

paths:
  /api/v2/health/live:
    get:
      operationId: getHealthLive
      tags: [health]
      summary: Liveness
      description: |
        Never touches a dependency and always answers 200. A failure here means
        the process is gone. Use this for a container health check.
      security: []
      responses:
        "200":
          description: The process is running.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Health" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/health/ready:
    get:
      operationId: getHealthReady
      tags: [health]
      summary: Readiness
      description: |
        Reports whether this instance can serve the core read path. Degraded
        capabilities are named in `checks` without failing readiness; only the
        core read path failing answers 503. Use this for a load balancer.
      security: []
      responses:
        "200":
          description: The core read path is available.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Health" }
        "503":
          description: The core read path is unavailable.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Health" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/reels:
    get:
      operationId: listReels
      tags: [reels]
      summary: List saved reels
      description: |
        One page of the authenticated user's saved reels, newest first.

        Pagination is by opaque cursor. Pass `next_cursor` from the previous
        page as `cursor`; do not construct, decode or store the value. The order
        is saved time descending, then reel id descending, so a save added or
        removed between two pages cannot shift or repeat a row.

        Transcripts are never included here. Request one reel to get its
        transcript.
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Platform"
        - $ref: "#/components/parameters/Category"
        - $ref: "#/components/parameters/Subcategory"
        - $ref: "#/components/parameters/SavedDate"
      responses:
        "200":
          description: One page of saved reels.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReelPage" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/reels/filters:
    get:
      operationId: getReelFilters
      tags: [reels]
      summary: Platform filter facets
      description: The platforms present in this user's library, with counts.
      responses:
        "200":
          description: Platform facets.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PlatformFilters" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/v2/reels/category-filters:
    get:
      operationId: getReelCategoryFilters
      tags: [reels]
      summary: Category filter facets
      description: The categories and subcategories present in this user's library.
      responses:
        "200":
          description: Category facets.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CategoryFilters" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/v2/reels/{reel_id}:
    get:
      operationId: getReel
      tags: [reels]
      summary: Get one saved reel
      description: |
        The full reel, including its transcript when one exists.

        A reel that belongs to another user answers 404, the same as one that
        does not exist. A different answer would tell a stranger which ids are
        real.
      parameters:
        - $ref: "#/components/parameters/ReelID"
      responses:
        "200":
          description: The reel.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Reel" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/processing-jobs:
    get:
      operationId: listProcessingJobs
      tags: [processing]
      summary: List processing jobs
      description: |
        This user's recent processing jobs. The list is bounded rather than
        paged: a user has a small number of jobs in flight and a short tail of
        finished ones.
      parameters:
        - $ref: "#/components/parameters/Limit"
        - name: active_only
          in: query
          required: false
          description: Return only jobs that are still queued or processing.
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: Recent jobs.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProcessingJobList" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/processing-jobs/{job_id}:
    get:
      operationId: getProcessingJob
      tags: [processing]
      summary: Get one processing job
      description: |
        Poll this after a submission. A terminal job carries either
        `result_reel_id` or a stable failure code.
      parameters:
        - $ref: "#/components/parameters/JobID"
      responses:
        "200":
          description: The job.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProcessingJob" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/processing-jobs/reels:
    post:
      operationId: submitReel
      tags: [processing]
      summary: Submit a link
      description: |
        Submits one URL for processing.

        `200` means this user already has the content saved and the reel is
        returned with no new work. `202` means work is queued or already in
        flight, and the response carries the job to poll.

        `Idempotency-Key` is required. Retrying a failed network call with the
        same key returns the same outcome; reusing a key with a different body
        is a `409`. A deliberate second submission uses a new key.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SubmitReelRequest" }
      responses:
        "200":
          description: Already saved. No new work was started.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Reel" }
        "202":
          description: Work is queued or already in flight.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProcessingJob" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/IdempotencyConflict" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/ProcessingUnavailable" }

  /api/v2/native-shares/reels:
    post:
      operationId: submitNativeShare
      tags: [processing]
      summary: Submit raw shared text from a native share extension
      description: |
        Resolves shared text to a URL and enqueues it in one request.

        A share extension runs outside the app process, cannot refresh a
        Supabase session and may be killed at any moment, so it authenticates
        with a long-lived share token and cannot be asked to make two calls that
        must both succeed.
      security:
        - nativeShareToken: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/NativeShareRequest" }
      responses:
        "200":
          description: Already saved. No new work was started.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Reel" }
        "202":
          description: Work is queued or already in flight.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProcessingJob" }
        "401": { $ref: "#/components/responses/ShareTokenRequired" }
        "409": { $ref: "#/components/responses/IdempotencyConflict" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/ProcessingUnavailable" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/share/resolve:
    post:
      operationId: resolveShare
      tags: [sharing]
      summary: Resolve shared text without processing it
      description: |
        Turns shared text into a recognised URL so an interactive client can
        preview what it is about to submit. It starts no work and costs no
        provider call.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ResolveShareRequest" }
      responses:
        "200":
          description: What the text resolved to.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ResolvedShare" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/ProcessingUnavailable" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/share-tokens:
    post:
      operationId: mintShareToken
      tags: [sharing]
      summary: Mint a native share token
      description: |
        Issues the long-lived token a native share extension presents. The value
        is returned once and is not retrievable afterwards.
      responses:
        "200":
          description: The new token.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MintedShareToken" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/ProcessingUnavailable" }
    delete:
      operationId: revokeShareTokens
      tags: [sharing]
      summary: Revoke every native share token
      description: |
        Revokes all of this user's share tokens. Used on sign-out and when a
        device is lost.
      responses:
        "200":
          description: How many tokens were revoked.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RevokedShareTokens" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503": { $ref: "#/components/responses/ProcessingUnavailable" }

  /api/v2/device-push-tokens:
    post:
      operationId: registerDeviceToken
      tags: [notifications]
      summary: Register this device for push
      description: |
        Records the device's push token for the signed-in user. Sending the same
        token again moves it to this user and refreshes it: a shared phone is a
        real thing, and the newest sign-in owns the device.

        The token is a credential. It is never returned by any endpoint and
        never appears in a log or an error.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DeviceTokenRequest" }
      responses:
        "200":
          description: The device is registered.
          content:
            application/json:
              schema:
                type: object
                required: [registered]
                properties:
                  registered: { type: boolean }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }
    delete:
      operationId: deleteDeviceToken
      tags: [notifications]
      summary: Remove this device
      description: |
        Removes one of this user's devices, on sign-out or when push is turned
        off. Another user's token answers 404, the same as one that does not
        exist.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DeviceTokenRequest" }
      responses:
        "200":
          description: The device is removed.
          content:
            application/json:
              schema:
                type: object
                required: [deleted]
                properties:
                  deleted: { type: boolean }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationFailed" }

  /api/v2/notifications/{notification_id}/opened:
    post:
      operationId: markNotificationOpened
      tags: [notifications]
      summary: Record that a notification was opened
      parameters:
        - name: notification_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Recorded.
          content:
            application/json:
              schema:
                type: object
                required: [opened]
                properties:
                  opened: { type: boolean }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: |
            No such notification for this user, or it was already recorded as
            opened.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/account/library-stats:
    get:
      operationId: getLibraryStats
      tags: [account]
      summary: Library totals
      responses:
        "200":
          description: Totals for this user's library.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LibraryStats" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/collections:
    get:
      operationId: listCollections
      tags: [collections]
      summary: List collections
      description: |
        Everything this user owns or belongs to, newest activity first. The
        list is bounded at 200 rather than paged: a person curates tens of
        collections, and one query serves the whole screen.
      responses:
        "200":
          description: The user's collections.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CollectionList" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      operationId: createCollection
      tags: [collections]
      summary: Create a collection
      description: |
        Creates a collection, optionally filing saves into it in the same
        transaction. Unknown or foreign reel ids are skipped, not errors: a
        stale picker must not cost the user the rest of the batch.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateCollectionRequest" }
      responses:
        "200":
          description: The new collection and how many saves were filed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CollectionMutation" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/collections/{collection_id}:
    get:
      operationId: getCollection
      tags: [collections]
      summary: Get a collection with one page of items
      description: |
        The signed-in view: the collection, one cursor page of item cards, and
        whether this user may change it. Items are cards, not full reels; the
        full reel is one `getReel` call away by the same id.

        A collection this user cannot see answers 404, identically to one that
        does not exist.
      parameters:
        - $ref: "#/components/parameters/CollectionID"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: The collection detail.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CollectionDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
    patch:
      operationId: updateCollection
      tags: [collections]
      summary: Rename or restyle a collection
      description: |
        Owner only. Absent fields keep their values. The cover must be a save
        already in the collection; anything else is silently kept as-is.
      parameters:
        - $ref: "#/components/parameters/CollectionID"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateCollectionRequest" }
      responses:
        "200":
          description: The updated collection.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CollectionMutation" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/CollectionForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
    delete:
      operationId: deleteCollection
      tags: [collections]
      summary: Delete a collection
      description: |
        Owner only. Items, members and invites go with it; the saves themselves
        are untouched.
      parameters:
        - $ref: "#/components/parameters/CollectionID"
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OK" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/CollectionForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/collections/{collection_id}/items:
    post:
      operationId: addCollectionItems
      tags: [collections]
      summary: File saves into a collection
      description: |
        Owner or editor. Idempotent: re-adding a save changes nothing and is
        not an error. Unknown and foreign ids are skipped.
      parameters:
        - $ref: "#/components/parameters/CollectionID"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CollectionItemsRequest" }
      responses:
        "200":
          description: The collection and how many saves were newly filed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CollectionMutation" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/CollectionForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/collections/{collection_id}/items/{reel_id}:
    delete:
      operationId: removeCollectionItem
      tags: [collections]
      summary: Remove one save from a collection
      description: Owner or editor. The save itself is untouched.
      parameters:
        - $ref: "#/components/parameters/CollectionID"
        - $ref: "#/components/parameters/ReelID"
      responses:
        "200":
          description: Removed, or was never there.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OK" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/CollectionForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/collections/{collection_id}/members:
    get:
      operationId: listCollectionMembers
      tags: [collections]
      summary: List collaborators
      description: Any role may see who else can see the collection they are in.
      parameters:
        - $ref: "#/components/parameters/CollectionID"
      responses:
        "200":
          description: The owner and every member.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CollectionMembers" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/collections/{collection_id}/members/{member_user_id}:
    delete:
      operationId: removeCollectionMember
      tags: [collections]
      summary: Remove a collaborator
      description: Owner only.
      parameters:
        - $ref: "#/components/parameters/CollectionID"
        - $ref: "#/components/parameters/MemberUserID"
      responses:
        "200":
          description: Removed, or was never a member.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OK" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/CollectionForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/collections/{collection_id}/leave:
    post:
      operationId: leaveCollection
      tags: [collections]
      summary: Leave a collection
      description: |
        A member removing themselves. The owner cannot leave their own
        collection; they delete it or keep it.
      parameters:
        - $ref: "#/components/parameters/CollectionID"
      responses:
        "200":
          description: Left.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OK" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/CollectionForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/collections/{collection_id}/link:
    post:
      operationId: enableCollectionLink
      tags: [collections]
      summary: Mint a read-only share link
      description: |
        Owner only. The token is returned once and stored only as a hash.
        Re-minting replaces the previous link, which revokes it. Links expire
        after 30 days; re-mint to extend.
      parameters:
        - $ref: "#/components/parameters/CollectionID"
      responses:
        "200":
          description: The link. The raw token exists here and nowhere else.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CollectionLink" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/CollectionForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      operationId: disableCollectionLink
      tags: [collections]
      summary: Revoke the share link
      description: Owner only. Revocation forgets the hash, immediately.
      parameters:
        - $ref: "#/components/parameters/CollectionID"
      responses:
        "200":
          description: Revoked.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OK" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/CollectionForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/collections/{collection_id}/invites:
    post:
      operationId: createCollectionInvite
      tags: [collections]
      summary: Mint an invite
      description: |
        Owner only. An invite grants editor or viewer membership to whoever
        accepts it before it expires. The token is returned once.
      parameters:
        - $ref: "#/components/parameters/CollectionID"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CollectionInviteRequest" }
      responses:
        "200":
          description: The invite. The raw token exists here and nowhere else.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CollectionInvite" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/CollectionForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/collection-invites/{token}/accept:
    post:
      operationId: acceptCollectionInvite
      tags: [collections]
      summary: Accept an invite
      description: |
        Turns the capability into membership. Accepting twice leaves one
        membership and spends one use. Unknown, expired, revoked and exhausted
        invites are all the same error: which one it was is exactly what a
        token guesser wants to learn.
      parameters:
        - $ref: "#/components/parameters/ShareLinkToken"
      responses:
        "200":
          description: The collection this user now belongs to.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CollectionMutation" }
        "400": { $ref: "#/components/responses/InviteInvalid" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }

  /api/v2/shared-collections/{token}:
    get:
      operationId: getSharedCollection
      tags: [collections]
      summary: Read a collection through its share link
      description: |
        The anonymous read-only view. The unguessable token in the path is the
        whole authorization; it grants a view of the saves, never membership,
        and the response carries no owner id and no member information.

        Unknown, expired and revoked tokens answer the same 404.
      security: []
      parameters:
        - $ref: "#/components/parameters/ShareLinkToken"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: The shared view.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SharedCollection" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "405": { $ref: "#/components/responses/MethodNotAllowed" }


components:
  securitySchemes:
    supabaseBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        A Supabase access token. It is verified locally against the project's
        JWKS; the `sub` claim is the user, and no request body or query
        parameter can name a different one.
    nativeShareToken:
      type: apiKey
      in: header
      name: X-Share-Token
      description: |
        A long-lived token held by a native share extension. It authenticates
        exactly one endpoint and resolves to exactly one user. It is never
        accepted in place of a session anywhere else.

  parameters:
    Cursor:
      name: cursor
      in: query
      required: false
      description: |
        An opaque cursor from a previous page's `next_cursor`. Do not construct
        or decode it. A value this API did not issue is a validation error.
      schema: { type: string }
    Limit:
      name: limit
      in: query
      required: false
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
    Platform:
      name: platform
      in: query
      required: false
      description: |
        A platform filter. `other` means every source that is not one of the
        named platforms.
      schema:
        type: string
        enum: [instagram, youtube, tiktok, x, linkedin, reddit, pinterest, other]
    Category:
      name: category
      in: query
      required: false
      schema: { type: string }
    Subcategory:
      name: subcategory
      in: query
      required: false
      schema: { type: string }
    SavedDate:
      name: saved_date
      in: query
      required: false
      description: A single day, in UTC.
      schema: { type: string, format: date }
    ReelID:
      name: reel_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    JobID:
      name: job_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    CollectionID:
      name: collection_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    MemberUserID:
      name: member_user_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    ShareLinkToken:
      name: token
      in: path
      required: true
      description: An unguessable capability token. Treat it as a secret.
      schema: { type: string }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: |
        A client-generated UUID identifying one submission attempt. Reuse it for
        network retries of that attempt; generate a new one for a deliberate new
        submission.
      schema: { type: string, format: uuid }

  responses:
    BadRequest:
      description: The request could not be understood.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Unauthorized:
      description: No valid session.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    ShareTokenRequired:
      description: No valid share token.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: |
        No such record for this user. Returned both when a record does not exist
        and when it belongs to somebody else.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    IdempotencyConflict:
      description: This idempotency key was already used with a different body.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    ValidationFailed:
      description: A field is missing or invalid.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    RateLimited:
      description: Too many requests.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    MethodNotAllowed:
      description: This path exists but does not accept that method.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    CollectionForbidden:
      description: This user may read the collection but not make this change.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    InviteInvalid:
      description: The invite is unknown, expired, revoked or exhausted.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    ProcessingUnavailable:
      description: |
        A capability this endpoint needs is unavailable. Reads stay healthy;
        retry later.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    Error:
      type: object
      required: [error]
      additionalProperties: false
      properties:
        error:
          type: object
          required: [code, message, request_id, retryable]
          additionalProperties: false
          properties:
            code:
              type: string
              description: |
                A stable identifier to match on. The message is for people and
                may change; the code may not.
            message: { type: string }
            request_id:
              type: string
              description: Quote this when reporting a problem.
            retryable:
              type: boolean
              description: Whether the same request may succeed if repeated.
            details:
              type: object
              description: |
                Optional, and only ever values the caller supplied or may
                choose from. Never internal or driver text.
              additionalProperties: true

    Health:
      type: object
      required: [status, ready, version, service, checked_at, checks]
      properties:
        status: { type: string, enum: [ok, degraded] }
        ready: { type: boolean }
        version: { type: string }
        service: { type: string }
        checked_at: { type: string, format: date-time }
        checks:
          type: object
          additionalProperties: { $ref: "#/components/schemas/HealthCheck" }

    HealthCheck:
      type: object
      required: [healthy, status]
      properties:
        healthy: { type: boolean }
        status: { type: string }
        latency_ms: { type: number }
        message: { type: string }
        checked_at: { type: string, format: date-time }
        details: { type: object, additionalProperties: true }

    ReelPage:
      type: object
      required: [reels, has_more, limit, next_cursor]
      properties:
        reels:
          type: array
          items: { $ref: "#/components/schemas/Reel" }
        has_more: { type: boolean }
        limit: { type: integer }
        next_cursor:
          type: string
          nullable: true
          description: Pass as `cursor` for the next page. Null on the last page.

    Reel:
      type: object
      required: [id, url, title, summary, category, subcategory]
      properties:
        id: { type: string, format: uuid }
        url: { type: string }
        thumbnail_url: { type: string, nullable: true }
        source_platform: { type: string, nullable: true }
        source_content_type: { type: string, nullable: true }
        title: { type: string }
        summary: { type: string }
        transcript:
          type: string
          description: Present only on a single-reel request, never in a list.
        category: { type: string }
        subcategory: { type: string }
        secondary_categories: { type: array, items: { type: string } }
        key_facts: { type: array, items: { type: string } }
        people_mentioned: { type: array, items: { type: string } }
        actionable_items: { type: array, items: { type: string } }
        locations:
          type: array
          items: { $ref: "#/components/schemas/Location" }
        saved_at: { type: string, nullable: true, format: date-time }

    Location:
      type: object
      required: [name, latitude, longitude]
      properties:
        name: { type: string }
        latitude: { type: number }
        longitude: { type: number }
        address: { type: string, nullable: true }
        location_display_label: { type: string }

    PlatformFilters:
      type: object
      required: [filters]
      properties:
        filters:
          type: array
          items:
            type: object
            required: [platform, count]
            properties:
              platform: { type: string }
              count: { type: integer }

    CategoryFilters:
      type: object
      required: [categories]
      properties:
        categories:
          type: array
          items:
            type: object
            required: [category, subcategories]
            properties:
              category: { type: string }
              count: { type: integer }
              subcategories:
                type: array
                items:
                  type: object
                  required: [subcategory, count]
                  properties:
                    subcategory: { type: string }
                    count: { type: integer }

    ProcessingJobList:
      type: object
      required: [jobs]
      properties:
        jobs:
          type: array
          items: { $ref: "#/components/schemas/ProcessingJob" }

    ProcessingJob:
      type: object
      required: [id, status, url, collection_ids]
      properties:
        id: { type: string, format: uuid }
        status:
          type: string
          enum: [queued, processing, completed, failed, dead_lettered]
        url: { type: string }
        source_platform: { type: string, nullable: true }
        current_step: { type: string, nullable: true }
        progress_percent: { type: integer, minimum: 0, maximum: 100 }
        status_message: { type: string }
        failure_code:
          type: string
          nullable: true
          description: A stable code on a terminal failure. Match on this.
        result_reel_id: { type: string, nullable: true, format: uuid }
        collection_ids:
          type: array
          items: { type: string, format: uuid }
        created_at: { type: string, nullable: true, format: date-time }
        updated_at: { type: string, nullable: true, format: date-time }

    SubmitReelRequest:
      type: object
      required: [url]
      additionalProperties: false
      properties:
        url:
          type: string
          maxLength: 2048
          description: An http or https URL.
        collection_ids:
          type: array
          items: { type: string, format: uuid }
          description: File the resulting save into these collections.

    NativeShareRequest:
      type: object
      required: [raw_payload_text]
      additionalProperties: false
      properties:
        raw_payload_text:
          type: string
          maxLength: 8192
          description: Exactly what the operating system handed the extension.
        collection_ids:
          type: array
          items: { type: string, format: uuid }

    ResolveShareRequest:
      type: object
      required: [raw_payload_text]
      additionalProperties: false
      properties:
        raw_payload_text: { type: string, maxLength: 8192 }

    ResolvedShare:
      type: object
      required: [supported]
      properties:
        supported: { type: boolean }
        url: { type: string, nullable: true }
        source_platform: { type: string, nullable: true }
        source_content_type: { type: string, nullable: true }

    MintedShareToken:
      type: object
      required: [token, expires_at]
      properties:
        token:
          type: string
          description: Returned once. It cannot be read back.
        expires_at: { type: string, format: date-time }

    RevokedShareTokens:
      type: object
      required: [revoked]
      properties:
        revoked: { type: integer }

    DeviceTokenRequest:
      type: object
      required: [token]
      additionalProperties: false
      properties:
        token:
          type: string
          description: The FCM registration token. Write-only; never returned.
        platform:
          type: string
          enum: [ios, android, web]

    LibraryStats:
      type: object
      required: [total_reels]
      properties:
        total_reels: { type: integer }
        total_pinned_locations: { type: integer }
        total_tags: { type: integer }
        total_categories: { type: integer }
        total_subcategories: { type: integer }

    Collection:
      type: object
      required: [id, name, description, visibility, role, item_count, member_count]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        cover_reel_id: { type: string, nullable: true, format: uuid }
        visibility: { type: string, enum: [private, link] }
        role: { type: string, enum: [owner, editor, viewer] }
        item_count: { type: integer }
        member_count: { type: integer }
        created_at: { type: string, nullable: true, format: date-time }
        updated_at: { type: string, nullable: true, format: date-time }

    CollectionList:
      type: object
      required: [collections]
      properties:
        collections:
          type: array
          items: { $ref: "#/components/schemas/Collection" }

    CollectionMutation:
      type: object
      required: [collection, added_count]
      properties:
        collection: { $ref: "#/components/schemas/Collection" }
        added_count:
          type: integer
          description: How many saves were newly filed. Re-adds count zero.

    CollectionItem:
      type: object
      required: [reel_id, title, summary, url, source_platform]
      description: |
        One filed save, as a card. `reel_id` is the same id `getReel` accepts.
      properties:
        reel_id: { type: string, format: uuid }
        title: { type: string }
        summary: { type: string }
        url: { type: string }
        thumbnail_url: { type: string, nullable: true }
        source_platform: { type: string }
        saved_at: { type: string, nullable: true, format: date-time }
        added_at: { type: string, nullable: true, format: date-time }
        added_by: { type: string, nullable: true, format: uuid }

    CollectionPage:
      type: object
      required: [next_cursor, has_more, limit]
      properties:
        next_cursor:
          type: string
          nullable: true
          description: Pass as `cursor` for the next page. Null on the last page.
        has_more: { type: boolean }
        limit: { type: integer }

    CollectionDetail:
      type: object
      required: [collection, items, page, can_edit]
      properties:
        collection: { $ref: "#/components/schemas/Collection" }
        items:
          type: array
          items: { $ref: "#/components/schemas/CollectionItem" }
        page: { $ref: "#/components/schemas/CollectionPage" }
        can_edit: { type: boolean }

    SharedCollection:
      type: object
      required: [collection, items, page]
      description: |
        The anonymous view. `member_count` is always zero here and `role` is
        always `viewer`: the token grants a view of the saves, not of who can
        see them.
      properties:
        collection: { $ref: "#/components/schemas/Collection" }
        items:
          type: array
          items: { $ref: "#/components/schemas/CollectionItem" }
        page: { $ref: "#/components/schemas/CollectionPage" }

    CollectionMember:
      type: object
      required: [user_id, role]
      properties:
        user_id: { type: string, format: uuid }
        role: { type: string, enum: [editor, viewer] }
        created_at: { type: string, nullable: true, format: date-time }

    CollectionMembers:
      type: object
      required: [owner_id, members]
      properties:
        owner_id: { type: string, format: uuid }
        members:
          type: array
          items: { $ref: "#/components/schemas/CollectionMember" }

    CollectionLink:
      type: object
      required: [url, token, expires_at]
      properties:
        url: { type: string }
        token:
          type: string
          description: Returned once. It cannot be read back.
        expires_at: { type: string, format: date-time }

    CollectionInvite:
      type: object
      required: [url, token, role, expires_at]
      properties:
        url: { type: string }
        token:
          type: string
          description: Returned once. It cannot be read back.
        role: { type: string, enum: [editor, viewer] }
        expires_at: { type: string, format: date-time }

    OK:
      type: object
      required: [ok]
      properties:
        ok: { type: boolean }

    CreateCollectionRequest:
      type: object
      required: [name]
      additionalProperties: false
      properties:
        name: { type: string, maxLength: 200 }
        description: { type: string, maxLength: 2000 }
        reel_ids:
          type: array
          maxItems: 100
          items: { type: string, format: uuid }

    UpdateCollectionRequest:
      type: object
      additionalProperties: false
      description: Absent fields keep their values.
      properties:
        name: { type: string, maxLength: 200 }
        description: { type: string, maxLength: 2000 }
        cover_reel_id:
          type: string
          format: uuid
          description: Must be a save already in this collection.

    CollectionItemsRequest:
      type: object
      required: [reel_ids]
      additionalProperties: false
      properties:
        reel_ids:
          type: array
          minItems: 1
          maxItems: 100
          items: { type: string, format: uuid }

    CollectionInviteRequest:
      type: object
      additionalProperties: false
      properties:
        role:
          type: string
          enum: [editor, viewer]
          default: viewer
